# Local configuration

# Wallpaper
export WALLPAPER="$(xdg-user-dir PICTURES)/wallpaper.png"

# polybar
# sudo echo $SCREENNAME > /etc/environment
export SCREENNAME=eDP1      # polybar -m
export IFETH=wlan0          # ip a

# vim: ft=sh
