# Local configuration

# Wallpaper
export WALLPAPER="$(xdg-user-dir PICTURES)/wallpaper.png"

# polybar
# following vars needs to be present in /etc/environment
export MONITOR=eDP1         # polybar -m
export MONITOR2=eDP2        # polybar second screen
export IFETH=wlan0          # ip a
export DRIVE=/dev/sda2      # polybar disk watch

# vim: ft=sh
