[user]
    name = <NAME>
    email = <EMAIL>
    signingkey = <GPG-ID>

[commit]
# https://help.github.com/articles/signing-commits-using-gpg/
    gpgsign = true
    template = ~/.gitcommittemplate

# vim: ft=gitconfig
